<!DOCTYPE html>
<html>
	<head>
		<title>{{post_title}}</title>
		<meta charset="utf-8">
		<meta name="Description" content="{{meta_description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel='stylesheet' href='/themes/{{theme}}/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/themes/{{theme}}/css/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='/themes/{{theme}}/css/style.css' />
		<link rel="shortcut icon" href="/themes/{{theme}}/favicon.ico" />
	</head>
	<body>
		<div class="navbar-fixed-top header_bar">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h2><a class="blog_head_link" href="/">{{config.blog_title}}</a></h2>
					</div>
				</div> 
			</div>
		</div>
		<br/><br/><br/>
		
		<div class="container">
			<div class="row"> 
				<div class="col-md-12"> 
					<div class="panel-body">
						{{{body}}}
					</div>
				</div>
			</div>
		</div>
		<script src="/themes/{{theme}}/js/bootstrap.min.js"></script>
	</body>
</html>