<!DOCTYPE html>
<html>
	<head>
		<title>{{post_title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="{{meta_description}}">
		<meta name="keywords" content="{{post_tags_meta}}">
		<meta name="robots" content="index,follow">
		<link rel='stylesheet' href='/themes/{{theme}}/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/themes/{{theme}}/css/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='/themes/{{theme}}/css/style.css' />
		<link rel="shortcut icon" href="/themes/{{theme}}/favicon.ico" />
		<!-- Open Graph meta -->
		<meta property="og:title" content="{{post_title}}"/>
		<meta property="og:url" content="{{full_url}}"/>
		<meta property="og:site_name" content="{{config.blog_title}}"/>
		<meta property="og:type" content="article"/>
		<!-- Open Graph meta -->
	</head>
	<body style="padding-top: 110px;">
		<div class="navbar-fixed-top header_bar">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<a class="blog_head_link pull-left" href="/"><img src="/themes/{{theme}}/images/default_logo_inverted.png" height="90px"></a>
					</div>
				</div> 
			</div>
		</div>	
		<div class="container">
			<div class="row"> 
				<div class="col-md-12"> 
					<div class="panel-body">
						{{{body}}}
					</div>
				</div>
			</div>
		</div>
		<script src="/themes/{{theme}}/js/bootstrap.min.js"></script>
	</body>
</html>