<nav>
	<ul class="list-unstyled main-menu">
		<li class="text-right"><a href="#" id="nav-close"><span class="glyphicon glyphicon-remove"></span></a></li>
		<li class="active"><a href="/admin/">Dashboard<span class="icon"></span></a></li>
		<li><a href="/admin/editor/">New Post<span class="icon"></span></a></li>
		<li><a href="/admin/settings">Settings<span class="icon"></span></a></li>
		<li><a href="/admin/users">Users<span class="icon"></span></a></li>
	</ul>
	<ul class="list-unstyled main-menu">
		<li><a href="/admin/logout">Logout<span class="icon"></span></a></li>
	</ul>
</nav>
<div class="container-fluid" id="edit_container">
	<div class="col-sm-2 col-md-4 col-lg-4">
		{{#if message}}
			<script> 
				$.bootstrapGrowl("{{message}}", {type: '{{message_type}}',offset: {from: 'top', amount: 10},align: 'center',width: 400,delay: 2000});
			</script>
		{{/if}}	
		<div id="post_list">
			<div class="panel panel-default">
				<div class="panel-heading"><span><b>Posts</b></span><span class="pull-right">Post count: {{this.post_count}}</span></div>
				<div id="post_list_wrapper">
					<table id="edit_posts" class="table table-hover table-condensed">
						{{#each posts}}
							<tr>
								<td class="post_row" data-href="/admin/preview/{{this.post_id}}">{{this.post_title}}</td>
								<td colspan="2" data-href="/admin/preview/{{this.post_id}}">
									<h6>
										<span class="{{post_status_text this.post_status}}-status">{{post_status_text this.post_status}}</span> 
										on <span class="text-muted">{{condensed_date this.post_date "YYYY-MM-DD HH:mm"}}</span>
										{{#ifCond post_static_page "==" "on"}}
											<span class="glyphicon glyphicon-magnet pull-right" style="color: #D9534F;"><span>
										{{/ifCond}}
									</h6>
								</td>
							</tr>
						{{/each}}
					</table> 
				</div>
			</div>
		</div>
	</div>
	<div id="editor_preview" class="col-sm-2 col-md-8 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="{{post_status_text this.post_status}}-status">{{post_status_text this.post_status}}</span> on <span class="text-muted">{{this.post_date}}</span>
				<a href="/admin/editor/{{this.post_id}}"><span class="pull-right glyphicon glyphicon-pencil" style="color: black; padding-top: 5px;"></span></a>
			</div>
			<table class="table table-condensed">
				<tr id="title_row">
					<td data-href="">
						<div><h2>{{post_title}}</h2></div>
					</td>
				</tr>
				<tr>
					<td data-href="">
						<div id="body_row" style="overflow-y:auto;">{{{post_body}}}</div>
					</td>
				</tr>
				<tr id="tags_row">
					<td data-href="">
						{{post_tags}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>