<div class="row">    
	<div class="col-md-10 col-md-offset-2">
		<h4><span class="text-muted">{{custom_date this.post_date "dddd, MMMM do, YYYY"}}</span>
			{{#ifCond is_logged_on "===" "true"}} 
				<a href="/admin/editor/{{this.post_id}}" class="glyphicon glyphicon-pencil edit-pencil"></a>
			{{/ifCond}}	
		</h4>
		<h2>{{post_title}}</h2><br/>
		<div class="row">
			<div class="col-xs-9">
				<p>{{{post_body}}}</p><br/>
				<p class="pull-left">
					{{#each this.post_tags}}
						<span class="tags"><a href="/tag/{{this}}">{{this}}</a></span>
						<span class="spacer">|</span> 
					{{/each}}
				</p>
			</div>
		</div>
	</div>
</div>
<hr/>